.header{
    background-image:url("/public/hero.jpg");
    margin: 30px auto;
    height: 34vw;
    border-radius: 13px;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    display: flexs;
    flex-direction: row;
}
.header-content{
    position: absolute;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5vw;
    bottom: 35%;
    left: 6vw;
    color: white;
}
.header-content p{
    font-size: 1.8vw;
   
}
.header-content h1{
    font-weight: 500;
    font-size: max(4vw,18px);
    color: #ffcb98;
}
.my-img img{
    position: absolute;
    height: 22vw;
    bottom: 27%;
    right: 10vw;
    border-radius: 50%;
    border: 2px solid #ffcb98;;  
}
.header-content button{
    padding: 1vw 2.3vw;
    font-size: max(1vw,13px);
    border: 2px solid #d9b08c;  
    color: #d9b08c;
    border-radius: 50px;
    background: white;
    cursor: pointer;
    border: none;
    font-weight: 500;
    transition: 0.3s;
}
.header-content button:hover{
    transform: scale(1.1);
}

.head{
    animation: fadein 2s;
}
@media (max-width:768px) {
    .header-content h1{
        font-weight: 500;
        font-size: max(3.3vw,14px);
    }
    .header-content bottom{
        font-size: max(0.5vw,8px);
    }
   
    
    
}
